.helvetica {
  font-family: HelveticaNeue;
}

.gothic-neo {
  font-family: Apple SD Gothic Neo;
}

input,
textarea,
label,
button {
  &:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.bg-dark-mode {
  background-color: #212121;
}

.bg-dark-mode-lighter {
  background-color: #424242;
}

.add-item {
  fill: #f7fafc;
  cursor: pointer;
}

.add-category {
  fill: #f7fafc;
  cursor: pointer;
}
